.lower-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: auto;
  margin-top: 4vh;
  padding: 1rem;
  background-color: rgb(206, 204, 204);
  border: 2px solid gray;
  border-radius: 1em;  
}

.ratings-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.actions-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 1em;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  padding: 1rem;
  background-color: var(--action-buttons-color);
  border: 2px solid var(--action-buttons-color-border);
  border-radius: 12px;
  color: black;
  font-size: 18px;
  transition: background 200ms, border 200ms;

  &:hover {
    background-color: var(--action-buttons-color-hover);
    border: 2px solid var(--action-buttons-color-border-hover);
    cursor: pointer;
  }
  &:active {
    background-color: var(--action-buttons-color-click);
    border: 2px solid var(--action-buttons-color-border-click);
  }
}

.rating-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  padding: 0.5rem;
  background-color: var(--secondary-buttons-color);
  border: 2px solid var(--secondary-buttons-color-border);
  border-radius: 12px;
  color: black;
  font-size: 24px;
  transition: background 200ms, border 200ms;

  &:hover {
    background-color: var(--secondary-buttons-color-hover);
    border: 2px solid var(--secondary-buttons-color-border-hover);
    cursor: pointer;
  }
  &:active {
    background-color: var(--secondary-buttons-color-click);;
    border: 2px solid var(--secondary-buttons-color-border-click);
  }
}

@media (min-width: 1921px) {
  .lower-buttons-container {
    
  }
  .action-button {
    min-height: 48px;
    min-width: 96px;
  }
  .rating-button {
    min-height: 48px;
    min-width: 64px;
  }
}

@media (min-width: 1001px) and (max-width: 1921px) {
  .lower-buttons-container {
    
  }
  .action-button {
    height: 48px;
    width: 96px;
  }
  .rating-button {
    min-height: 32px;
    min-width: 48px;
  }
}

@media (max-width: 1000px) {
  .lower-buttons-container {
    flex-flow: column-reverse;
    gap: 0.5rem;
    margin-top: 2vh;
  }
  .ratings-container {
    justify-content: center;
  }
  .actions-container {
    justify-content: center;
  }
  .action-button {
    height: 16px;
    width: 54px;
    font-size: 12px;
  }
  .rating-button {
    min-height: 16px;
    min-width: 32px;
    font-size: 12px;
  }
}