:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --font-color: rgba(26, 26, 26, 1);

  --background-color: rgb(16, 22, 46);
  --header-color: rgba(48, 48, 48, 1);

  --component-color: rgba(200, 200, 200, 1);
  --component-color-border: rgba(160, 160, 160, 1);
  --component-color-hover: rgba(175, 175, 175, 1);
  --component-color-border-hover: rgba(135, 135, 135, 1);
  --component-color-click: rgba(150, 150, 150, 1);
  --component-color-border-click: rgba(110, 110, 110, 1);

  --sidebar-item-color: var(--component-color);
  --sidebar-item-color-hover: var(--component-color-hover);
  --sidebar-item-color-click: var(--component-color-click);

  --sidebar-current-item-color: var(--component-color-click);
  --sidebar-current-item-color-border: var(--component-color-border-click);

  --action-buttons-color: rgba(100, 150, 240, 1);
  --action-buttons-color-border: rgba(80, 130, 220, 1);
  --action-buttons-color-hover: rgba(80, 130, 220, 1);
  --action-buttons-color-border-hover: rgba(60, 110, 200, 1);
  --action-buttons-color-click: rgba(60, 110, 200, 1);
  --action-buttons-color-border-click: rgba(40, 90, 180, 1);
  --action-buttons-color-2: rgba(140, 220, 130, 1);
  --action-buttons-color-border-2: rgba(120, 200, 110, 1);
  --action-buttons-color-hover-2: rgba(120, 200, 110, 1);
  --action-buttons-color-border-hover-2: rgba(100, 180, 90, 1);
  --action-buttons-color-click-2: rgba(100, 180, 90, 1);
  --action-buttons-color-border-click-2: rgba(80, 160, 70, 1);

  --secondary-buttons-color: var(--component-color-hover);
  --secondary-buttons-color-border: var(--component-color-border-hover);
  --secondary-buttons-color-hover: var(--component-color-click);
  --secondary-buttons-color-border-hover: var(--component-color-border-click);
  --secondary-buttons-color-click: rgba(125, 125, 125, 1);
  --secondary-buttons-color-border-click: rgba(85, 85, 85, 1);

  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;
  
  
  --component-color-2: rgba(200, 200, 200, 0);
  --tester: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
}

.header-fix {
  position: fixed;
  display: inline-block;
  height: 64px;
  width: 100%;
}

.header-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.page-footer {
  position: absolute;
  bottom: 0;
  height: 6vh;
  width: 100%;
  background-color: rgb(48, 48, 48);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 85vh;
  width: auto;
  padding: 0 4vw 0 4vw;
  gap: 2rem;
  box-sizing: border-box;
}

.filter-select {
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 30px;
  background-color: rgb(206, 204, 204);
  border: 2px solid rgb(133, 133, 133);
  border-radius: 0.5rem;
  color: rgb(0, 0, 0);
  text-align: center;
  outline: none;
  cursor: pointer;
}

.header-filter-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 80%;
  padding-left: 1rem;
}

.header-buttons-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 20%;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color: var(--action-buttons-color);
  border: 2px solid var(--action-buttons-color-border);
  border-radius: 12px;
  color: var(--font-color);
  font-size: 16px;
  font-weight: 600;
  outline: none;
  transition: background 200ms, border 200ms;

  &:hover {
    background-color: var(--action-buttons-color-hover);
    border: 2px solid var(--action-buttons-color-border-hover);
    cursor: pointer;
  }
  &:active {
    background-color: var(--action-buttons-color-click);
    border: 2px solid var(--action-buttons-color-border-click);
  }
}

.flashcardParent {
  width: 100%;
}

@media (min-width: 1921px) {
  
}

@media (min-width: 1001px) and (max-width: 1921px) {
  
}

@media (max-width: 1000px) {
  .main-container {
    gap: 0;
  }
  .page-header {
    height: 44px;
  }
  .header-fix {
    height: 44px;
  }
  .header-button {
    height: 2.25rem;
    width: 2.25rem;
  }
  .filter-select {
    min-width: 120px;
    min-height: 24px;
    font-size: 12px;
    text-align: center;
  }
  .header-filter-section {
    gap: 8px;
  }
}